*env.sh

.DS_Store
._*

__pycache__/
*.py[cod]
local_settings.py
.env
*.sqlite3

.Python
.venv/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

*.manifest
*.spec