#experience-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

/* typerwriter title div container */
#experience-heading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

/* typewriter title styles */
#experience-heading-styles {
    color: white;
    font-family: monospace;
    font-size: 50pt;
}

/* typewriter font is smaller in small screens */
@media only screen and (max-width: 767px) {
    #experience-heading-styles {
        font-size: 35pt;
    }
}

#experience-main-block {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#experience-thumbnail-list-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 10pt;
}

#experience-main-stepper {
    background-color: transparent;
}

.experience-timeline-ubuntu-img {
    width: 30px;
    border-radius: 15px;
    transition: 0.3s;
    cursor: pointer;
}
.experience-timeline-ubuntu-img:hover {
    box-shadow: 0 0 15px white;
}

.experience-thumbnail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

/* typewriter font is smaller in small screens */
@media only screen and (max-width: 767px) {
    .experience-thumbnail-container {
        display: none;
    }
}

.experience-thumbnail-img {
    width: 50px;
    border-radius: 15px;
    transition: 0.3s;
    cursor: pointer;
}

.experience-thumbnail-img:hover {
    box-shadow: 0 0 15px white;
}

#experience-list-container {
    flex: 6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.experience-link {
    text-decoration: underline;
    color: rgb(169, 140, 207);
    transition: 0.2s;
}
.experience-link:hover {
    text-decoration: none;
    opacity: 0.8;
    color: rgb(169, 140, 207);
}
.experience-strong {
    font-weight: bold;
    color: rgb(190, 158, 52);
}

.experience-card {
    width: 800px;
    color: rgb(190, 186, 146);
    border-color: rgb(136, 122, 45);
    background-image: linear-gradient(to right, rgb(0, 31, 51), rgb(23, 3, 70));
    border-radius: 10px;
    animation: experience-card-glow 2s linear infinite;
}
@media only screen and (max-width: 767px) {
    .experience-card {
        width: 400px;
    }
}
@keyframes experience-card-glow {
    0% {
        box-shadow: none;
    }
    50% {
        box-shadow: 0 0 50px rgb(221, 180, 45);
    }
    100% {
        box-shadow: none;
    }
}

.experience-card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: inherit;
}

.experience-card-header-text {
    flex: 2;
}

.experience-card-header-badge {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
@media only screen and (max-width: 767px) {
    .experience-card-header-badge {
        display: none;
    }
}

.experience-badge-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.experience-badge-left {
    font-size: 10pt;
    color: rgb(190, 158, 52);
    background-color: rgb(5, 20, 53);
}

.experience-badge-right {
    font-size: 10pt;
    color: rgb(5, 20, 53);
    background-color: rgb(190, 158, 52);
}

.experience-card-body {
    border-color: inherit;
}

.experience-card-top-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: inherit;
}

.experience-card-title-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 10px;
    border-color: inherit;
}

.experience-card-img-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    border-color: inherit;
}

.experience-card-img {
    height: 50px;
}

.experience-card-text {
    border-color: inherit;
}
@media only screen and (max-width: 767px) {
    .experience-card-text {
        font-size: 10pt;
    }
}

.experience-list-group {
    border-color: inherit;
}

#experience-next-page-container-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

#experience-next-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    transition: 0.3s;
}

#experience-next-page-container:hover {
    box-shadow: 0 0 10px white;
}

@keyframes experience-spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}